li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  #app {
    position: relative;
    /* overflow: hidden; */
    max-width: 100%;
    height: 1000px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  
  /* 顶部 */
  .headpiece {
    width: 100%;
    background: #fff;
  }
  
  .headpiece-ding {
    width: 100%;
    height: 92px;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
  
  /* 顶部左边部份 */
  .headpiece-ding .nav-lt {
    height: 100%;
    margin: 3px 0;
    display: flex;
    float: left;
    justify-content: flex-start;
  }
  
  .headpiece-ding .nav-lt .nav-lt-fl {
    padding: 0 30px;
    border-right: 1px solid #ccc;
    border-radius: 0;
    display: flex;
    box-align: center;
    align-items: center;
  }
  
  .headpiece-ding .nav-lt .nav-lt-fl .icon {
    width: 66px;
    height: 54px;
    background-image: url(./image/index/bt.png);
  }
  
  .headpiece-ding .nav-lt .menu {
    align-self: center;
    height: 100%;
    display: flex;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  
  .headpiece-ding .nav-lt .menu .linkBox a {
    padding: 0 20px;
    border-right: 1px solid #ccc;
    letter-spacing: 1.07px;
    font-size: 20px;
    color: #222;
  }
  
  .headpiece-ding .nav-lt .menu .linkBox a span {
    font-weight: 700;
    font-size: 20px;
  }
  
  .headpiece-ding .nav-lt .menu .linksst {
    padding: 0 20px;
  }
  
  .headpiece-ding .nav-lt .menu .linksst span {
    font-weight: 700;
    font-size: 20px;
    color: #222;
  }
  
  
  
  
  
  /* 顶部右边部份 */
  .nav-rt {
    display: flex;
    float: right;
    height: 100%;
    display: flex;
  }
  
  .nav-rt .links {
    align-self: center;
  
  }
  
  .nav-rt .links a {
    font-size: 12px;
    color: #222;
    letter-spacing: .3px;
    padding-right: 35px;
    display: inline-block;
    vertical-align: middle;
    max-width: 128px;
    white-space: nowrap;
  }
  
  .nav-rt .links a img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .nav-rt .links a span {
    display: inline-block;
    font-size: 12px;
    color: #222;
  }
  
  
  .nav-rt .search {
    padding: 0 35px;
    border-left: 1px solid #ccc;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .nav-rt .search .search-ts {
    width: 22px;
    height: auto;
    color: #000;
    font-size: 21px;
  }
  
  
  .nav-rt .mini-carmini-cart {
    padding: 0 21px 0 25px;
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
  }
  
  
  .nav-rt .cart {
    display: inline-block;
    text-align: center;
  }
  
  .nav-rt .cart i {
    font-size: 20px;
    font-weight: 700;
    color: #222;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  
  .nav-rt .cart a {
    color: #000;
    text-align: center;
    line-height: 40px;
  }
  
  /* 文字导航 */
  .slider-box {
    width: 100%;
    height: 50px;
    padding-top: 92px;
    background-color: #eee;
  }
  
  .slider:hover .arrow {
    display: block;
  }
  
  .slider {
    width: 680px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
  }
  
  .slider ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .slider li:first-child{
    display: block;
  }
  .slider li {
    width: 100%;
    display: none;
    position: absolute;
    text-align: center;
    font-size: 12px;
    /* display: flex; */
    justify-content: center;
    -ms-flex-align: center;
    /* align-items: center; */
  }
  
  .slider a  h2:last-child{
    display: block;
  }
  
  
  .slider li a h2 {
    color: #222;
    font-size: 12px;
    text-align: center;
    display: none;
  }
  .slider a:first-child {
    display: block;
  }
  
  
  .slider:hover .arrow {
    display: block;
  }
  
  
  .arrow-left,
  .arrow-right {
    font-family: "SimSun", "宋体";
    width: 30px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
    font-size: 30px;
    font-weight: 700;
  }
  
  
  .arrow-left {
    left: 0;
  }
  
  .arrow-right {
    right: 0;
  }
  
  /* 返回顶部按钮 */
  
  .cp-back-to-top {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    text-align: center;
    z-index: 9;
    line-height: 40px;
    cursor: pointer;
    bottom: 90px;
    right: 20px;
  }
  
  .cp-back-to-top .iconfont {
    width: 100%;
    height: 100%;
    line-height: 40px;
  }
  
  .cp-back-to-top .iconfont img {
    width: 100%;
    height: 100%;
  }
  