li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.app {
  position: relative;
  /* overflow: hidden; */
  max-width: 100%;
  height: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* 顶部 */
.headpiece {
  width: 100%;
  background: #fff;
}

.headpiece-ding {
  width: 100%;
  height: 92px;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

/* 顶部左边部份 */
.headpiece-ding .nav-lt {
  height: 100%;
  margin: 3px 0;
  display: flex;
  float: left;
  justify-content: flex-start;
}

.headpiece-ding .nav-lt .nav-lt-fl {
  padding: 0 30px;
  border-right: 1px solid #ccc;
  border-radius: 0;
  display: flex;
  box-align: center;
  align-items: center;
}

.headpiece-ding .nav-lt .nav-lt-fl .icon {
  width: 66px;
  height: 54px;
  background-image: url(./image/index/bt.png);
}

.headpiece-ding .nav-lt .menu {
  align-self: center;
  height: 100%;
  display: flex;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.headpiece-ding .nav-lt .menu .linkBox a {
  padding: 0 20px;
  border-right: 1px solid #ccc;
  letter-spacing: 1.07px;
  font-size: 20px;
  color: #222;
}

.headpiece-ding .nav-lt .menu .linkBox a span {
  font-weight: 700;
  font-size: 20px;
}

.headpiece-ding .nav-lt .menu .linksst {
  padding: 0 20px;
}

.headpiece-ding .nav-lt .menu .linksst span {
  font-weight: 700;
  font-size: 20px;
  color: #222;
}





/* 顶部右边部份 */
.nav-rt {
  display: flex;
  float: right;
  height: 100%;
  display: flex;
}

.nav-rt .links {
  align-self: center;

}

.nav-rt .links a {
  font-size: 12px;
  color: #222;
  letter-spacing: .3px;
  padding-right: 35px;
  display: inline-block;
  vertical-align: middle;
  max-width: 128px;
  white-space: nowrap;
}

.nav-rt .links a img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

.nav-rt .links a span {
  display: inline-block;
  font-size: 12px;
  color: #222;
}


.nav-rt .search {
  padding: 0 35px;
  border-left: 1px solid #ccc;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.nav-rt .search .search-ts {
  width: 22px;
  height: auto;
  color: #000;
  font-size: 21px;
}


.nav-rt .mini-carmini-cart {
  padding: 0 21px 0 25px;
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
}


.nav-rt .cart {
  display: inline-block;
  text-align: center;
}

.nav-rt .cart i {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.nav-rt .cart a {
  color: #000;
  text-align: center;
  line-height: 40px;
}

/* 文字导航 */
.slider-box {
  width: 100%;
  height: 50px;
  padding-top: 92px;
  background-color: #eee;
}

.slider:hover .arrow {
  display: block;
}

.slider {
  width: 680px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.slider ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slider>li:first-child{
  display: block;
}
.slider li {
  width: 100%;
  display: none;
  position: absolute;
  text-align: center;
  font-size: 12px;
  /* display: flex; */
  justify-content: center;
  -ms-flex-align: center;
  /* align-items: center; */
}

.slider a  h2:last-child{
  display: block;
}


.slider li a h2 {
  color: #222;
  font-size: 12px;
  text-align: center;
  display: none;
}
.slider a:first-child {
  display: block;
}


.slider:hover .arrow {
  display: block;
}


.arrow-left,
.arrow-right {
  font-family: "SimSun", "宋体";
  width: 30px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  font-size: 30px;
  font-weight: 700;
}


.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

/* 返回顶部按钮 */

.cp-back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  text-align: center;
  z-index: 9;
  line-height: 40px;
  cursor: pointer;
  bottom: 90px;
  right: 20px;
}

.cp-back-to-top .iconfont {
  width: 100%;
  height: 100%;
  line-height: 40px;
}

.cp-back-to-top .iconfont img {
  width: 100%;
  height: 100%;
}


/* 男子黄色体恤  */

.activity {
  position: relative;
  width: 100%;
  height: 1158px;
  margin-bottom: 30px;
}

.activity a img {
  width: 100%;
  height: 100%;
}

/* 男子黄色体恤左边导航 */

.activity-flet {
  position: absolute;
  align-items: flex-start;
  left: 4.3%;
  top: 50%;
  z-index: 2;
  color: #fff;
  transform: translateY(-50%);
}

.activity-flet h1 {
  font-size: 48pt;
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.activity-flet h3 {
  font-size: 18pt;
  text-align: left;
  font-weight: 500;
}

.activity-flet .activity-fl {
  box-sizing: border-box;
}

.activity-flet .activity-fl .clp-btn-white {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #222;
  background: #fff;
  zoom: 1;
  font-weight: 700;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  transition: all .2s ease-in-out;
  overflow: hidden;
  font-size: 16px;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  letter-spacing: 1px;
  width: 200px;
  height: 50px;
  line-height: 50px;
}

/* 杨洋系列 */

.fullBleedHero {
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

.fullBleedHero a {
  width: 100%;
  height: 100%;
}

.fullBleedHero a img {
  width: 100%;
  height: 100%;
}


/* 右边导栏 */
.activity-right {
  position: absolute;
  right: 4.3%;
  top: 50%;
  transform: translateY(-50%);
  color: #222;
  z-index: 2;
}

.activity-right h1 {
  font-size: 48pt;
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.activity-right h3 {
  font-size: 18pt;
  text-align: left;
  font-weight: 500;
  color: #fff;
}

.activity-right .activity-fl {
  box-sizing: border-box;
}

.activity-right .activity-fl .clp-btn-white {
  display: block;
  margin-bottom: 20px;
  /* margin-right: 20px; */
  color: #222;
  background: #fff;
  zoom: 1;
  font-weight: 700;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  transition: all .2s ease-in-out;
  overflow: hidden;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  letter-spacing: 1px;
  width: 200px;
  height: 50px;
  line-height: 50px;
}


/* 限定篮球鞋  */

.activiss {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.activiss a img {
  width: 100%;
  height: 100%;
}


/* 蔡依林系列 */

.cylHero {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.cylHero a img {
  width: 100%;
  height: 100%;
}

/* 蔡依林系列中间导航 */
.activity-center {
  position: absolute;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  color: #222;
  z-index: 2;

}

.activity-center h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 48pt;
  font-weight: 700;
}

.activity-center h3 {
  font-size: 18pt;
  text-align: center;
  font-weight: 500;
  color: #000;
}

.activity-zj {
  box-sizing: border-box;
  /* text-align: center; */
}

.activity-zj .clp-btn-white {
  display: block;
  margin-right: 20px;
  color: #fff;
  background: #000;
  zoom: 1;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 20px auto;
}

/* 潮流  */
.scksfd {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.scksfd a img {
  width: 100%;
  height: 100%;
}

/* 资源一线 */

.mdmsfdsd {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.mdmsfdsd a img {
  width: 100%;
  height: 100%;
}

/* 资源一线左边导航  */

.mdmsfdsd .activity-flet {
  position: absolute;
  align-items: flex-start;
  left: 4.3%;
  top: 50%;
  z-index: 2;
  color: #000;
  transform: translateY(-50%);
}

.mdmsfdsd .activity-flet h1 {
  font-size: 48pt;
  text-align: left;
  margin-bottom: 20px;
  color: #000;
  font-weight: 700;
}

.mdmsfdsd .activity-flet h3 {
  font-size: 18pt;
  text-align: left;
  font-weight: 500;
}

.mdmsfdsd .activity-flet .activity-fl {
  box-sizing: border-box;
}

.mdmsfdsd .activity-flet .activity-fl .clp-btn-white {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #fff;
  background: #000;
  zoom: 1;
  font-weight: 700;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  transition: all .2s ease-in-out;
  overflow: hidden;
  font-size: 16px;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  letter-spacing: 1px;
  width: 200px;
  height: 50px;
  line-height: 50px;
}


/* 不同款式鞋 */

.homeCutOut {
  display: flex;
  position: relative;

}

.homeCutOut .cp-homeCutOut-item {
  width: 33.33%;
}

.homeCutOut .cp-homeCutOut-item a {
  width: 100%;
  height: auto;
}

.homeCutOut .cp-homeCutOut-item a img {
  width: 100%;
  height: auto;
}


.homeCutOut .cp-homeCutOut-item .contentdd {
  text-align: center;
  margin-bottom: 35px;
}

.homeCutOut .cp-homeCutOut-item .contentdd h1 {
  font-weight: 700;
  font-size: 22px;
  color: #222;
  margin: 22px 0 9px;
}

.homeCutOut .cp-homeCutOut-item .contentdd h3 {
  font-size: 16px;
  color: #222;
}

.homeCutOut .cp-homeCutOut-item .contentdd .link-btn {
  display: flex;
  align-items: center;
  text-align: center;
}

.homeCutOut .cp-homeCutOut-item .contentdd .link-btn .link-box {
  display: block;

  color: #fff;
  background: #000;
  zoom: 1;
  font-weight: 700;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  transition: all .2s ease-in-out;
  overflow: hidden;
  font-size: 16px;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  letter-spacing: 1px;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-bottom: 22px;
  line-height: 50px;
}


/* 鞋子轮播图 */
.box {
  max-width: 1375px;
  margin: 0 auto;

}

.box-top {
  margin-bottom: 26px;
  color: #222;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

#roll {
  padding: 0 64px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
}

#roll dd {
  width: 263.25px;
  margin-right: 20px;
  font-size: 15px;
  color: #222;
  text-align: center;
  width: 25%;
  height: 100%;
  position: relative;

}

#roll dd a {
  display: block;
  position: relative;
  pointer-events: auto;
}

#roll dd object img {
  width: 280px;
  width: 100%;
}

#roll dd object {
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
}


#roll dd object .black-border {
  position: absolute;
  top: 40%;
  left: 35%;
  display: none;
  width: 120px;
  border: 1px solid #000;
  background: #000;
  line-height: 48px;
  color: #fff;
  zoom: 1;
  font-weight: 700;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  margin: auto;
}

#roll dd .line {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

#roll dd .title {
  margin-bottom: 10px;
  color: #222;
}

#roll dd .title p {
  font-size: 15px;
  margin-bottom: 10px;
}

#roll dd .title .currentPrice {
  color: #222;
  text-align: center;
  margin-bottom: 10px;
}

#roll dd .title .currentPrice span {
  color: #222;
  text-align: center;
  font-weight: 700;
}


.box #roll .prev {
  position: absolute;
  width: 34px;
  height: 72px;
  background: none;
  z-index: 5;
  left: 0;
  top: 50%;
}

.box .prev img {
  width: 100%;
  height: 100%;
}

.box #roll .next {
  position: absolute;
  right: 0;
  width: 34px;
  height: 72px;
  background: none;
  z-index: 5;
  top: 50%;
  margin-left: 20px;
}

.box .next img {
  width: 100%;
  height: 100%;
}

/* 底部 */
.cp-footer {
  width: 100%;
  display: block;
  background: #eee;
}

/* 底部黑色顶部 */
.top-wrap {
  width: 100%;
  background: #222;
}

.top-wrap .top {
  height: 120px;
  line-height: 120px;
  align-items: center;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}


.top-wrap .top .router-link-active {
  position: absolute;
  top: 10px;
  float: left;
}


.top-wrap .top a .icon-footer-logo-m {
  width: 100%;
  height: 100%;
  color: #fff;
}


.top-wrap .top .booking {
  float: right;
  /* display: flex; */
  display: -webkit-box;
  align-items: center;
}

.top-wrap .top .booking .tit {
  /* display: flex; */
  -webkit-box-align: center;
  align-items: center;
}


.top-wrap .top .booking .tit .icon-ico-email-m {
  display: inline-block;
  color: #fff;
  line-height: 17px;
  margin-right: 20px;
}

.top-wrap .top .booking .tit .icon-ico-email-m img {
  padding-right: 8px;
}

.top-wrap .top .booking .tit .icon-ico-email-m p {
  display: inline-block;
}


.top-wrap .top .ipt-box {
  display: flex;
  width: 290px;
  height: 40px;
  margin: auto;
}

.top-wrap .top .ipt-box .ipt-control {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-flex: 1;
}

.top-wrap .ipt-box .ipt-control .cafe-input {
  float: left;
  flex: 1;
  border: none;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.top-wrap .top .ipt-box button {
  width: 50px;
  height: 100%;
  float: right;
  box-sizing: border-box;
  border: none;
  background: #cccccc;

}

.top-wrap .top .ipt-box .icon-arrow-wd img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

/* 底部导航 */
.content-wrap {
  width: 100%;
  background-color: #eee;
}
.content-ss{
  width: 100%;
  border-bottom: 1px solid #fff;
  padding-bottom: 24px;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.contact {
  width: 400px;
  flex: 1;
  flex-direction: column;
}

.content-wrap .contact h4 {
  width: 100%;
  height: 68px;
  display: -webkit-box;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  color: #222;
  letter-spacing: .93px;
  font-weight: 700;
  margin-bottom: 20px;
  -webkit-box-align: center;
  padding-top: 10px;
}


.content-wrap .contact p {
  width: 100%;
  position: relative;
  margin: 0;
}

.content-wrap .contact h4 img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

.content-wrap .contact p img span {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #222;
  font-weight: 700;

}

.content-wrap .contact .listbox {
  box-sizing: border-box;

}

.content-wrap .contact .listbox .item {
  margin-bottom: 8px;
  white-space: nowrap;
}

.content-wrap .contact .listbox .delectMargin {}


.content-wrap .contact .listbox .addImgpadding {
  padding-left: 33px
}

.content-wrap .contact .listbox .addMargin {
  margin-bottom: 18px;
}

.content-wrap .contact .listbox p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.content-wrap .contact .listbox p a {
  font-size: 13px;
  color: #222;
  letter-spacing: .81px;
  cursor: auto !important;
  text-decoration: none !important;
}

.content-wrap .contact .listbox img {
  /* float: left; */
  width: 20px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 0;
}

/* 商业标  */
.copy-right-wrap{
  width: 100%;
    background: #eee;
    padding: 30px 0;
}

.copy-right{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  padding: 0 10px;
  position: relative
}
.copy-right .lt{
    display: flex;
    flex-direction: column;
}

.copy-right .lt p{
  font-size: 10px;
    color: #222;
    margin-bottom: 20px;
}

/* .copy-right .lt  .more{

} */

.copy-right .lt  .more p{
  margin-right: 6px;
  font-size: 10px;
    color: #222;
    margin-bottom: 20px;
}


.copy-right .lt  .none-sm{
  position: absolute;
    left: 50%;

    transform: translateX(-50%);
    width: 100%;
    padding-left: 240px;
    padding-right: 100px;
    text-align: center;
}


.copy-right .lt  .none-sm>p{
  display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 37px;
}

.copy-right .lt  .none-sm p a{
  color: #222;
}

.copy-right .lt  .none-sm p a span{
  display: inline-block;
    vertical-align: middle;
}

.copy-right .lt  .none-sm p a span img{
  width: 18px;
  height: auto;
  margin-right: 6px;
}

.footerShare{
  position: absolute;
  right: 0;
margin-top: 20px;
}

.footerShare a{
  margin: 0 12px;
}
.footerShare a img{
  max-height: 18px;
}
